        :root {
            --primary: #6A89A7;
            --secondary: #BDDDFC;
            --accent: #88BDF2;
            --dark: #384959;
            --white: #f5fdfd;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
        }

        header {
            top: 0;
            width: 100%;
            background-color: transparent;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 2rem;
            z-index: 1000;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
        }

        header.scrolled {
            background-color: var(--primary);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .logo {
            cursor: pointer;
            padding: 0.5rem;
        }

        .logo img {
            height: 40px;
            width: auto;
        }

        nav {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .nav-links {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            font-weight: 500;
        }

        .nav-links a {
            text-decoration: none;
            color: var(--white);
            position: relative;
            transition: color 0.3s;
        }

        #navbar {
            background-color: var(--dark);
        }

        .nav-links a:hover {
            color: white;
        }

        .nav-links a::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 2px;
            background-color: var(--white);
            transition: width 0.3s ease;
        }

        .nav-links a:hover::after {
            width: 100%;
        }


        .contact-btn {
            padding: 0.4rem 1rem;
            font-weight: 500;
            background-color: transparent;
            border: 1px solid var(--white);
            border-radius: 20px;
            color: var(--white);
            cursor: pointer;
            transition: background-color 0.3s;
            font-family: 'Poppins', sans-serif;

        }

        .contact-btn:hover {
            background-color: var(--white);
            color: var(--dark);
        }

        .burger {
            display: none;
            flex-direction: column;
            cursor: pointer;
            gap: 0.3rem;
            transition: transform 0.3s ease;
        }

        .burger div {
            width: 25px;
            height: 3px;
            background-color: var(--white);
            transition: all 0.3s ease;
        }

        .burger.open div:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }

        .burger.open div:nth-child(2) {
            opacity: 0;
        }

        .burger.open div:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
        }

        @media (max-width: 768px) {
            .nav-links {
                display: none;
                flex-direction: column;
                background-color: transparent;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 1rem;
                border-bottom: solid 1px var(--white);
                border-top: solid 1px var(--white);
                animation: slideDown 0.3s ease-in-out;
            }

            .nav-links.active {
                display: flex;
            }

            .burger {
                display: flex;
            }
        }

        @keyframes slideDown {
            from {
                opacity: 0;
                transform: translateY(-10px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .hero {
            background-color: #88BDF2;
            height: 80vh;
        }

        .menu-btn {
            color: var(--dark);
            border-color: var(--dark);
        }